<div class="typography">
  <div class="monitor">
    <canvas #canvas id="canvas" class="canvas"></canvas>
    <div class="telemetry">
      <h2>Telemetry</h2>
      <div class="element">
        <b>Velocity X:</b>
        <p #xrot id="xrot"></p>
      </div>
      <div class="element">
        <b>Velocity Y:</b>
        <p #yrot id="yrot"></p>
      </div>
      <div class="element">
        <b>Velocity Z:</b>
        <p #zrot id="zrot"></p>
      </div>
      <div class="element">
        <b>Roll:</b>
        <p #xpos id="xpos"></p>
      </div>
      <div class="element">
        <b>Yaw: :</b>
        <p #ypos id="ypos"></p>
      </div>
      <div class="element">
        <b>Pitch:</b>
        <p #zpos id="zpos"></p>
      </div>
      <div class="element">
        <b>Time:</b>
        <p #time id="time"></p>
      </div>
    </div>
  </div>
  <div>
    <form [formGroup]="form" (submit)="submit()">
      <div class="element">
        <feel-text-field formControlName="yaw" label="Yaw:" type="number"></feel-text-field>
      </div>
      <div class="element">
        <feel-text-field formControlName="pitch" label="Pitch:" type="number"></feel-text-field>
      </div>
      <div class="element">
        <feel-text-field formControlName="roll" label="Roll:" type="number"></feel-text-field>
      </div>
      <!--<div class="element">
        <feel-text-field formControlName="time" label="Time:" type="number"></feel-text-field>
      </div>-->
      <feel-button label="Send Command"></feel-button>
    </form>
    <form (submit)="fetchHistory()">
      <feel-button label="Request Details!"></feel-button>
    </form>
  </div>
</div>
