<div class="typography">
  <div class="monitor">
    <canvas #canvas id="canvas" class="canvas"></canvas>
    <div class="telemetry">
      <h2>Telemetry</h2>
      <div class="element">
        <b>Velocity X:</b>
        <p #xrot id="xrot"></p>
      </div>
      <div class="element">
        <b>Velocity Y:</b>
        <p #yrot id="yrot"></p>
      </div>
      <div class="element">
        <b>Velocity Z:</b>
        <p #zrot id="zrot"></p>
      </div>
      <div class="element">
        <b>Rotation X:</b>
        <p #xpos id="xpos"></p>
      </div>
      <div class="element">
        <b>Rotation Y:</b>
        <p #ypos id="ypos"></p>
      </div>
      <div class="element">
        <b>Rotation Z:</b>
        <p #zpos id="zpos"></p>
      </div>
      <div class="element">
        <b>Time:</b>
        <p #time id="time"></p>
      </div>
    </div>
  </div>
</div>
