<div class="container">
  <div class="elements">
    <div class="hero">
      <h1>Building Deterministic and Concurrent Flight Software using Lingua Franca and PretVM</h1>
    </div>


    <div class="body">
      <p>
        Abstract goes here!
      </p>

      <feel-button routerLink="satellite">Demo!</feel-button>
    </div>

    <div class="footer">
      <app-card [lightShadow]="true" class="left" backgroundImage="/assets/images/tud.jpeg" link="https://berkeley.edu">
        <div>
          <p>UC Berkeley</p>
        </div>
      </app-card>
      <app-card [lightShadow]="true" class="left" backgroundImage="/assets/images/tud.jpeg" link="https://cs.tu-dresden.de">
        <div>
          <p>TUD Dresden University of Technology</p>
        </div>
      </app-card>
      <app-card [lightShadow]="true" class="left" backgroundImage="/assets/images/tud.jpeg" link="https://ntnu.no">
        <div>
          <p>NTNU</p>
        </div>
      </app-card>
    </div>
  </div>
</div>
